
/* --- begin --- yuusa modified */
body {
	padding-top: 110px;
}

#top-panel {
	position: fixed;
	top: 0;
	height: 100px;
	height: 110px;
	width: 100%;
	border: 1px solid red;
}

#back-button {
	width: 100%;
	height: 100%;
}

#device-table {
	list-style: none;
}

.device-record {
	height:48px;
	/*line-height:48px;*/
	/*width:100%;*/
	border:1px solid red;
	margin:5px 0;
}

.device-record span {
	display: block;
	height: 48px;
	line-height: 48px;
	float: left;
}

/* .device-record span.image { height:48px; width:48px;} */

.device-record span.name { height:48px; line-height:48px; width: 552px; float:right;}

/* .device-record span input { height:100%; width:100%;} */

/* ---  end  --- yuusa modified */

div#device-list {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

table#device-table {
	width: 100%;
	/*border: 1px solid #000000;*/
}

/* ------------------------------- */
/* for smart light */
input#light-bright-level {
	width: 800px;
}

canvas#light-color-picker {
	width: 800px;
	height: 600px;
	border: 1px solid #000000;
}

/*如果你是针对高级浏览器写的话，建议百分比再加上min-width属性*/
/*tr.device-record {
	width: 100%;
}
*/
